body{
  font-family: Futura,  Arial, sans-serif;
  background-color: #000;
  color: #000;
}
#header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#header img{
  width: 100px;
}

.wrapper{
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#print{
  background-color: #029BC8;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin:auto;
}
#print:hover {
  border: 1px solid #029BC8;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
  -moz-box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
  box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
}

#beer_grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 50px 0px;
}

.product_holder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 160px;
  height: 220px;
  margin: 0px auto;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
  -moz-box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
  box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
}

.produc_holder:hover{
  border: 1px solid #029BC8;
  -webkit-box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
  -moz-box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
  box-shadow: 5px 5px 5px 2px rgba(2,155,200,0.5);
}

.imgwrap{
  height: 50%;
  width: 100%;
  margin: 10px auto;
}

.imgwrap img{
  display:  inline-block;
  max-height: 100%;
  margin: auto;
  text-align: center;
}

.text_title{
  width: 100%;
  margin: auto 8px;
  font-size: 16px;
  font-weight: bold;
}

.text_small{
  font-size: 14px;
  margin: 10px;
  width: 80%;
}

.abv_text{
  float: left;
}

.info_text{
  float: right;
}

#beer_accordion{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 100px 0px;
}
.container{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  padding-bottom: 5px;
}
.btn{
  margin: 0;
  position: relative;
  padding: 10px 30px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #000;
  font-weight: bold;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
  -moz-box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
  box-shadow: 3px 3px 3px 0px rgba(2,155,200,0.3);
}

.panel{
  width: 100%; 
  display: flex;
  flex-wrap: wrap;      
  color: #262626;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0px 10px;
  background-color: #fff;
}


.panel{               
  padding: 15px 10px 10px 10px;
  opacity: 1;
  max-height: 500px;              
}

.tagline{
  font-weight: bold;
}

.panelImg{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
}
.panelImg img{
  max-width: 100%;
  margin: 0px auto;
  max-height: 200px;
  justify-content: center;
}
.panelTxt{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  flex-direction: column;
}
#beer_accordion .container .panel {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0px 10px;
}

#beer_accordion .container.active .panel {
  padding: 15px 10px 10px 10px;
  opacity: 1;
  height: auto;
  max-height: 1000px;
}
.accordionBtns{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}
.accordionBtn{
  background-color: #029BC8;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 20px;
}
#back-top {
  position: fixed;
  right: 30px;
  bottom: 15px;
  z-index: 1000;
  display: none;
  font-size: 25px;
  color: #4D4D4D;
  cursor: pointer;
  opacity: 1; 
  display: block;
}

@media only screen and (max-width: 600px) {
  .panelImg{
    width: 100%;
  }
  .panelTxt{
    width: 100%;
    text-align: center;
    margin: 0px 20px;
  }
  #back-top{
    visibility: hidden;
  }
}